body {
  font-family: sans-serif;
  margin: 0;
  padding: 1rem;
}

.country {
  fill: lightgreen;
  stroke: black;
  stroke-width: 1;
}

.country:hover {
  fill: red;
}

.graticule {
  fill: none;
  stroke: gray;
  stroke-width: 1;
  stroke-dasharray: 2, 2;
}

label {
  font-size: 1rem;
  margin-bottom: 1rem;
}

#legend {
  border: solid black 1px;
  border-radius: 10px;
  display: inline-block;
  padding: 1rem;
}

#legend .count {
  display: inline-block;
}

#legend > h3 {
  margin-top: 0;
}

#legend .row {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

#legend .swatch {
  border: solid black 1px;
  display: inline-block;
  height: 20px;
  margin-right: 0.5rem;
  width: 20px;
}

select {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.sphere {
  fill: cornflowerblue;
}

.tooltip {
  position: absolute;
  background: black;
  border-radius: 5px;
  opacity: 0; /* initially hidden */
  padding: 0.5rem;
  pointer-events: none;
}

.tooltip label {
  color: lightblue;
  font-size: 1.2rem;
  font-weight: bold;
}

.tooltip span {
  color: white;
  font-size: 1.2rem;
}
